.image-con {
    width: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tatis {
    width: 100%;
    bottom: 0px;
    object-fit: cover;
    position: relative;
    height: 800px;
}



.do-it-logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 125px;
    right: 60px;
    color: white;
}

.do-it-con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.under-image-text-con {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 100px;

}

.tatis-header {
    font-size: 100px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.tatis-text {
    padding-bottom: 20px;
}

.shop-tatis-button {
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s; 

}

.shop-tatis-button:hover {
    background-color: rgb(255, 102, 0);
    transform: scale(1.09); 
}

.products-con {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
    padding: 20px;
    
}

.product-item-con {
    flex: 0 1 calc(33.333% - 40px); 
    box-sizing: border-box;
    text-decoration: none;
    color: inherit; 
}

.product-card-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 16px; 
    transition: transform 0.3s; 
}

.product-card-con:hover {
    transform: scale(1.05); 
}

.product-image {
    width: 100%;
    height: 400px;
    border-radius: 8px; 
    padding-bottom: 16px;
    object-fit: cover;
}

.product-name, .product-type, .product-price {
    margin: 8px 0;
    text-align: center;
}

.product-price {
    font-weight: bold;
}

.product-text-con {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 3px;
}

.fullpage-landing{
   margin-bottom: 350px;
}

.product-price {
    font-weight: 600;
}


.shop-favorite {
    padding-left: 65px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    padding-top: 75px;
}

.hidden {
   opacity: 0;
   transition: all 2.5s;
   filter: blur(5px);
   transform: translateX(-100%);

}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}




