.sign-up-modal-con {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.sign-up-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
}

.sign-up-h1 {
    padding-bottom: 20px;
    text-align: center;
}

.label-container-sign-up {
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5px;
    width: 100%;
    max-width: 100%;
}

.button-on-signup {
    padding-top: 25px;
}

.signin-nike-signup {
    display: flex;
    align-items: center;
    gap: 170px;
}

.login-input-signup {
    height: 30px;
    border-radius: 4px;
    border: 2px solid rgb(176, 173, 173);
    padding: 5px;
    width: 100%;
    box-sizing: border-box; 
    font-size: 16px;
}