

.spot-details-con {
    display: flex;
    padding-top: 100px;
    padding-left: 25%;
}

.product-image-details {
    object-fit: cover;
    height: 600px;
    width: 550px;
    transition: transform 0.3s; 
    
}

.product-image-details:hover {
    transform: scale(1.05);
}

.products-details-text-con {
    padding-left: 7%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
    padding-bottom: 100px;
}

.nike-random {
    color: rgb(255, 102, 0);
}

.product-det-price {
    padding-top: 25px;
    font-weight: 600;
}

.product-size-con {
    padding-top: 50px;
}

.product-select-size {
    font-weight: 600;
}

.button-sizes-con {
    display: grid;
    grid-template-columns: repeat(5, 1.5fr);
    gap: 10px;
    padding-top: 25px;
    padding-bottom: 50px;

}

.add-to-cart {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.add-to-cart:hover {
    background-color: rgb(255, 102, 0);
}

.shoe-size-button {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
}

.shoe-size-button:hover {
    border-color: rgb(36, 35, 35);
}

.shoe-size-button:focus {
    outline: none;
    border-color: black;
}

.buttons-con {
    display: flex;
    padding-left: 26%;
    padding-top: 100px;
    padding-bottom: 350px;
    gap: 15px;
    flex-direction: column;

}

.delete-btn {
    text-decoration: none;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 18px;
}

li {
    list-style-type: none;
}

.update-product-link {
    text-decoration: none;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-buttons-con {
    display: flex;
    gap: 20px;
    padding-top: 30px;
    
}

.reviews-container {
    display: flex;
    border: 2px solid grey;
    flex-direction: column;
    gap: 30px;
    width: 25%;
    position: absolute;
    right: 16%;
    height: 50%;
    padding: 20px;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.review-text-con {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.star-con {
    display: flex;
    gap: 3px;
    align-items: center;
}

.star-con p {
    padding-right: 5px;
}

.review-star {
    text-align: center;
    height: 20px;
    width: 20px;
    padding-bottom: 3px;
    color: rgb(255, 102, 0);
}

.name-created {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.review-firstname {
    font-weight: 600;
}

.review-text {
    padding-top: 5px;
    word-wrap: break-word; 
    word-break: break-word; 
    white-space: normal; 
}

.review-btns-con {
    display: flex;
    gap: 15px;
    padding-top: 10px;
}

.update-review {
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    padding: 3px;
    border: none;
}

.delete-review {
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    padding: 3px;
    border: none;
}

.leave-a-review {
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    padding: 3px;
    border: none;
    cursor: pointer;
}

.review-date {
    padding-left: 15px;
}