* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  font-family: "Poppins", sans-serif;
  background-color: var(--app-background-color);
}

.profile-dropdown {
  position: absolute;
}

.logo {
  width: 87px;
  height: 87px;
  cursor: pointer;
}



.nav-bar-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgb(233, 227, 227);
}

.left-navbar {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

.search-logo {
  padding: 2px;
  height: 25px;
  width: 25px;
}

.search-box {
  border-radius: 12px;
  border: 2px solid rgb(233, 227, 227);
  display: flex;
  align-items: center;
  gap: 3px;
  width: 300px;
  background-color: rgb(233, 227, 227);
  cursor: pointer;
  transition: transform 0.3s; 
}
.search-box:hover {
  transform: scale(1.35); 
}

.search-input {
    border: none;
    margin: none;
    font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 227, 227);
    
}

.search-input:focus-within {
  outline: none
}

.profile {
  padding-right: 50px;
}

.profile-button {
  width: 45px;
  height: 45px;
  background-color: rgb(233, 227, 227);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid transparent;
  transition: box-shadow 0.2s ease;
  font-size: 50px;
  padding: 0px;
}

.profile-button:hover {
  box-shadow: 0px 0px 15px rgb(176, 173, 173);
  cursor: pointer;
}

.profile-button * {

    color: black;
    font-size: 115px;
}


.profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 227, 227);
  border-radius: 12px;
  position: absolute;
  right: 50px;
  top: 95px;
  width: 210px;
  height: 320px;
  padding: 0px;
  z-index: 2;
}

.profile-dropdown li {
  list-style-type: none;
}

.login-logout-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: center;
  gap: 25px;
  padding-top: 25px;
}

.login-btn {
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}

.logout-btn {
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}

.login-logo {
  padding: 0px;
  margin: 0px;
  height: 65px;
  width: 65px;
}

.profile-dropdown-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 10px;
}

.username {
  font-weight: 600;
  
}

.email {
  padding-top: 10px;
  font-weight: 600;
}

.logout-btn-signedin {
  width: 150px;
  height: 45px;
  border-radius: 15px;
  background-color: black;
  color: white;
}

.btn-padding {
  padding-top: 15px;
}

.create-a-product {
  color: rgb(255, 102, 0);
  text-decoration: none;
  padding-top: 15px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 600px) {
    
  .nav-bar-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgb(233, 227, 227);
  }

  .profile-button { 
    position: absolute;
    top: 40px;
    right: 15px;
    
  }

  .search-box {
    margin-bottom: 30px;
  }

  .profile-dropdown {
    right: 15px;
  }

  
}








  
